* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: black;
  overflow: hidden;
}

#app {
  height: 100dvh;
}

#app>canvas {
  display: block;
  height: 100%;
  width: 100%;
}